.content {
    display: flex;
    justify-content: center;
}

.overlay {
	display:none;
	position:fixed;
    z-index: 100;
   	top:0;
	right:0; 
	left:0;
    bottom:0;
    background:#000; 
	opacity:0.8;
}

.popup {
    display: none;
    position: relative;
    z-index: 200;  
}

.element{
    display: flex;
    flex-direction: column;
	width: 550px;
	height: 350px;
	background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 15%);
}

.cross {
    padding: 10px 0 0 10px;
}

.cross img {
    cursor: pointer;
}

.triangle {
    margin: 0 auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 0 50px;
    color: #3F444E;
}

